@font-face {
	font-family  : Tenor-Sans;
	font-style   : normal;
	font-weight  : 400;
	font-display : swap;
	src          : url('@fonts/TenorSans/TenorSans-Regular.woff') format('woff'),
	url('@fonts/TenorSans/TenorSans-Regular.woff2') format('woff2'),
	url('@fonts/TenorSans/TenorSans-Regular.ttf') format('truetype');
}

.font-tenor-sans {
	font-family : Tenor-Sans, sans-serif;
}