.scrollbar-custom {
	overflow-y : auto;

	&::-webkit-scrollbar {
		height : 10px;
		width  : 4px;
	}

	&::-webkit-scrollbar-track {
		border-radius    : 5px;
		background-color : transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius    : 3px;
		background-color : gray;
	}

	&::-webkit-scrollbar-thumb:active {
		background-color : gray;
	}
}
