<!DOCTYPE html>
<html lang="en">
  {{> head head-layout=layout.head }}
  <body>
    {{> header header-layout=layout.header }}

    <main>
      {{> @partial-block }}
    </main>

    {{> footer footer-layout=layout.footer }}
  </body>
</html>