<section class="section-main">
  <div class="__container">
    <div class="image"></div>
    <div class="heading-lg font-tenor-sans">asdsadasd</div>
    <button class="button button-size--sm button--dark __text-crop--3">
      <span class="fz-clamp">Кнопка #</span>
    </button>
  </div>
</section>